.tables {
	margin-top: 20px;
	position: relative;
	width: 100%;
	display: grid;
	grid-template-columns: 2fr 1fr;
}



/* ------------------------------------------------------------------------------------------ */

/* Election Table */
.election  {
	position: relative;
	margin: 26px 13px 26px 26px ;
	padding: 17px;
	background: white;
	max-height: 500px;
	min-width: 400px;
	box-shadow: 20px grey;
	box-shadow: 0px 10px 20px grey;
}



.table_Header{
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
	margin-bottom: 15px;
}

.table_Header h2 {
	font-size: 1.9em;
	font-weight: bold;
}

.btn {
	padding: 7px;
	text-decoration: none;
	color: white;
	background:#3498db;
	border-radius: 3px;
}

.election_Table {
border-collapse: collapse;
width: 100%;

}

.election_Table thead {
	background: #34495e;
	color: white;	
}
.election_Table thead th{
	padding: 12px 8px  12px 4px;
	text-align: left;
}

.election_Table tbody td {
	padding: 11px 0px 11px 4px;	
}

.election_Table tbody tr:hover {
	background: #ced6e0;
	
}

.election_Table tbody tr {
	border-bottom: 1px solid #34495e;
}

.election_Table thead th:last-child,
.election_Table tbody td:last-child {
	text-align: right;
}

.election_Table tbody tr:last-of-type{
	border-bottom: 4px solid #34495e;	
}

.status {
	position: relative;
	padding: 3px 5px;
}

.Ongoing {
	padding: 3px 6px;
	background: green;
	border-radius: 5px;
	color: white;
}
.Declared {
	padding: 3px 6px;
	background: orange;
	border-radius: 5px;
	color: black;
}
.Finished {
	padding: 3px 6px;
	background: red;
	border-radius: 5px;
	color: white;
}

/* Recent User table */

.student {
	position: relative;
	max-width: auto;
	min-width: 320px;
	padding: 17px;
	max-height: 500px;
	margin: 26px 26px 26px 13px;
	background: white;
	box-shadow: 0px 10px   20px grey;
}

.user_Table {
	border-collapse: collapse;
	width: 100%;
}

.user_Table tbody td {
	padding: 6px 0px 6px 4px;	
}

.user_Table tbody td .user_Default_img {
	position: relative;
	width: 40px;
	height: 40px;
	border-radius: 50%;
	overflow: hidden;
}

.user_Table tbody td .user_Default_img img {
	width: 100%;
	height: 100%;
}
.user_Table tbody td:nth-child(1) {
	text-align: right;
}

.user_Table tbody tr:hover {
	background: #ced6e0;
