.election_Management {
	padding: 1.5em;
}

.easy_Details {

	display: flex;
	align-items: center;
	justify-content: space-between;
	margin-bottom: 1.5em;

	
}

.easy_Details .boxarea {
	display: flex;
	width: 250px;
	background:linear-gradient(to bottom right,#0C2D48,#145DA0);
	padding: 3em;
	justify-content: space-around;
	height: 120px;
	font-size: 1.16rem;
	color: white;
	border-radius: 30px;
	box-shadow: 5px 5px 15px grey;
	transition: 150ms ease-in-out;

}

.easy_Details .boxarea:hover {
	background:linear-gradient(to top left,#0C2D48,#145DA0);
	font-size: 1rem;
}



.easy_Details .boxarea .boxdetails {
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;

}

.easy_Details .boxarea i {
	font-size: 2.5rem;

}

.easy_Details .boxarea .boxdetails .number {
	font-size: 2.4rem;
	font-weight: 700;
}

.easy_Details .boxarea .boxdetails .name {
	font-size: 1rem;

}

.easy_Details .boxarea i {
	 align-self: center;
}

.create_Button .start_Election {
	background: linear-gradient(to right,#A30000,#FF2442);
	padding: .5em 2.5em;
	color: white;
	font-size: 1.9rem;
	border: none;
	border-radius:60px;
	
	transition: 250ms ease-in-out;
	text-decoration: none;
	box-shadow: 5px 5px 10px grey;


}

.create_Button .start_Election:hover {
	color: color;
	letter-spacing: 2px;
	font-size: 2.1rem;
	border-radius: 60px;
	

}