* {
	padding: 0;
	margin: 0;
} 

body {
	background-image: linear-gradient(to left, #d7d2cc 0%, #304352 90%); //poli sanam	
}

nav {
	position: relative;
	display: flex;
	align-items: center;	
	justify-content: space-between;
	margin: auto;
	padding: 1% 4%;
	z-index: 3;
}

.nav-items ol {
	flex: 1;
	text-align: right;
	list-style: none;
}

.logo-img {
	height: 50px;
	width: 50px;	
}


.nav-items li {
	font-family: sans-serif;
	color: black;
	position: relative;
	font-size: 19px;
	cursor: pointer;
	display: inline-grid;	
	padding: 5px 15px;
	margin: 0 10px 0 10px;
	border-radius: 20px;	
	}

.nav-items li::after {
	content: "";
	bottom: 0;
	left: 50%;
	height: 4px;
	background: black ;
	width: 0%;
	transition: .3s;
	border-radius: 10px;
	margin: auto;
}	


.nav-items li:hover::after {
	transition: .4s;
	width: 100%;
}

.middle {
	position: relative;
	height: 100vh;

}

.vote-img {
	position: relative;
	background-image: url('../images/votefinal.jpg');
	background-repeat: no-repeat;
	background-size: 100%;
	width: 27.9vw;
	height: 33vw;
	right: 5%;
	
	/*box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.02),
    0 6.7px 5.3px rgba(0, 0, 0, 0.028), 0 12.5px 10px rgba(0, 0, 0, 0.035),
    0 22.3px 17.9px rgba(0, 0, 0, 0.042), 0 41.8px 33.4px rgba(0, 0, 0, 0.05),
    0 100px 80px rgba(0, 0, 0, 0.07);*/
    box-shadow: 0px 10px 39px #353b48;	
}




/* -------------------------------------------------------------------------------------- */
/* Sign up section */
.Sign-form-area {
	position: absolute;
	left: 50%;
	background: #28B463;
	background: linear-gradient(#0575E6,#65C7F7,#0052D4);
	transform: translateX(-50%);
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 40%;
	margin-top: 10px;
	padding-top: 25px;
	padding-bottom: 25px;
	justify-content: space-around;
	box-shadow: 2px 2px 20px  grey;
	border-radius: 10px;
}

.Sign-text {
	align-self: center;
	font-size: 44px;
	font-family: sans-serif;
	letter-spacing: 2px;
	margin-bottom: 15px;
	color: white;

}

.Sign-form-area > div {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	width: 85%;


}

.Sign-form-area input {
	outline: none;
	padding: 8px 0px;
	width: 85%;

	margin: 5px 0px;
	border: none;
	border-radius: 5px;
	
}
::placeholder {
	color: #7f8c8d;
	font-size: 15px;
	padding-left: 8px;
}



.Sign-form-area > div input[type=submit] {
	margin-left: 1%;
	margin-right: 1%;
}



select {
	margin: 5px 0px;
	padding: 7px 1px;
	background: white;
	color: #7f8c8d;
	cursor: pointer;
	border-radius: 5px;
	outline: none;
	border: 1px solid white;
	width: 30%;
	font-size: 16px;
}


select:hover,select:focus {
	border: 1px solid #bdc3c7;
}

.error-msg {
	color: red;
	font-size: 20px;
}



/* -------------------------------------------------------------------------------------- */


