* 
{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Poppins',sans-serif;

}



/* Navigation Bar */

.container {
	position: relative;
	width: 100%;
	

}

.navigation {
	position: fixed;
	width: 250px;
	height: 100%;
	background: #182C61;
	transition: 250ms ease-in-out;
	

}

.navigation ul {
	position: relative;
	width: 100%;
	left: 0;
	top: 0;
	overflow: hidden;
}

.navigation ul li {
	position: relative;
	width: 100%;
	list-style: none;
	overflow: hidden;
}

.navigation ul li:hover {
	background: #0F52BA; 



} 

.admin_icon a {
	width: 100%;
	text-decoration: none;
	color: white;
	display: flex;
	overflow: hidden;
}

.admin_icon a i {
	font-size: 30px;
	line-height: 60px;
	padding: 0 19px;
	min-width: 75px;

}
.admin_Text {
	font-size: 30px;
	font-weight: 400;
	font-family: 'Popins',sans-serif;
	color: white;
	padding: 0 10px;
	line-height: 70px;

}

.navigation ul li a {
	position: relative;
	width: 100%;
	display: flex;
	text-decoration: none;
	color: white;
}

li a span i {
	color: white;
} 


.navigation ul li a .icon{
	position: relative;
	display: block;
	height: 25px;
	min-width: 75px;
	text-align: center;
	height: 50px;
	font-size: 20px;
	line-height: 50px;
	padding: 0 10px;
}

.navigation ul li a .title {
	position: relative;
	display:  block;
	font-size: 20px;
	padding: 0 10px;
	height: 50px;
	line-height: 50px;

}

.navigation.active {
	width: 75px; 
}


/* ------------------------------------------------------------------------------------------ */
/* Top bar */
.main {
	position: absolute;
	width: calc(100% - 250px);
	left: 250px;
	min-height: 100vh;
	background: #ecf0f1;
	transition: 250ms ease-in-out;
	overflow:scroll;
	height: 100vh;
}

.main.active {
	width: calc(100% - 75px);
	left: 75px;

}

.main .topbar {
	background: white;
	overflow-y: hidden;
	width: 100%;
	height: 60px;
	padding: 0 10px;
	display: flex;
	justify-content: space-between;
	align-items: center ;
	box-shadow:  5px 0px 10px grey;
}

.topbar .toggle {
	color: #182C61;
	font-size: 30px;
	cursor: pointer;
}

.toggle::before {
	content: "\f0c9";
	position: absolute;	
	top:  0;
	transform: translateY(40%);	
	font-family: 'Font Awesome\ 5 Free';
	font-size: 30px;
	font-weight: 900;
}

.user img {
	width: 50px;
	height: 50px;
	border-radius: 50%;
	cursor: pointer;
}
/* ------------------------------------------------------------------------------------------ */









