body {
	margin: 0;
	padding: 0;
	font-family: -webkit-pictograph;

}

.topbar {
	position: relative;
	top: 0;
	left: 0;
	height: 55px;
	background: linear-gradient(#dff9fb,#f1f2f6);
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	width: 100%;
	box-shadow: 2px 2px 13px #a4b0be;
}

.topbar div {
	display: flex;
	flex-direction: row;
	align-self: center;
}
.topbar a img {
	width: 45px;
	height: 45px;
	padding-left: 1em;
	padding-right: 1em;
}

.topbar div {
	cursor: pointer;
	padding-right: 1em;

}

.stu_Info img {
	width: 45px;
	height: 45px;
	border-radius:50%;
}

.topbar .stu_Info {
	display: flex;
	align-items: center;
}

.stu_Info .acc {
	display: flex;
	align-items: center;
}
.topbar a {
	text-decoration: none;

}
.topbar .stu_Info span {
	
	text-decoration: none;
	padding-right: -1.5em;
	font-size: 1.3rem;
	font-family: -webkit-pictograph;
	font-weight: bold ;
	color: #536162;


}

.stu_Info i {
	font-size: 1.4rem;
}

 .center_Portion{
 	background: #F3F8FF;
 	padding: 0 7px 0 7px;
 	height: 100vh;
 }

.menu_Items {
	position: relative;	
	display: flex;
	margin-left: 20px;
	justify-content: center;


}

.error {
	display: flex;
	font-family: -webkit-pictograph;
	justify-content: center;
	font-size: 1.1rem;
	padding-bottom: .3em;
	font-weight: bold;
	color: white;
}


.menu_Items .btn {
	position: relative;
	font-family: -webkit-pictograph;
	overflow: hidden;
	font-size: 1.3rem;
	font-weight: 700;
	padding: .19em 1.3em;
	padding-bottom: .40em;
	cursor: pointer;
	border: none;
	background: none;
	color:#778ca3;
	transition: 350ms ease-in-out;
	z-index: 1;

}

.menu_Items .btn:hover {
	color: white;
	box-shadow: 0px 5px 17px grey;
}

.menu_Items .btn::before {
	content: "";
	position: absolute;
	left: 0;
	bottom: -1px;
	width: 101%;
	background:#778ca3;
	height: 0%;
	z-index: -1;
	border-radius: 50% 50% 0 0;
	transition: 350ms ease-in-out;

}

.menu_Items .btn:hover::before {
	height: 250%;	
}

.top_Ele_Name { 
	align-self: center; 
	background: red; }

.simple_text {
	font-size: 2rem;
}


