body {
	margin: 0;
	padding: 0;
	font-family: -webkit-pictograph;

}

.topbar {
	position: relative;
	top: 0;
	left: 0;
	height: 55px;
	background: linear-gradient(#dff9fb,#f1f2f6);
	background-color: #b8c6db;
background-image: linear-gradient(315deg, #b8c6db 0%, #f5f7fa 74%);



	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	width: 100%;
	box-shadow: 1px 1px 15px #a4b0be;
}

.topbar div {
	display: flex;
	flex-direction: row;
	align-self: center;
}
.topbar a img {
	width: 45px;
	height: 45px;
	padding-left: 1em;
	padding-right: 1em;
}

.topbar div {
	cursor: pointer;
	padding-right: 1em;

}

.stu_Info img {
	width: 45px;
	height: 45px;
	border-radius:50%;
}

.topbar .stu_Info {
	display: flex;
	align-items: center;
}

.stu_Info .acc {
	display: flex;
	align-items: center;
}
.topbar a {
	text-decoration: none;

}
.topbar .stu_Info span {
	
	text-decoration: none;
	padding-right: -1.5em;
	font-size: 1.3rem;
	font-family: -webkit-pictograph;
	font-weight: bold ;
	color: #536162;



}

.stu_Info i {
	font-size: 1.4rem;
}

 .center_Portion{
 	background: #F3F8FF;
 	padding: 0 7px 0 7px;
 	height: 140vh;

 }

.menu_Items {
	position: relative;	
	display: flex;
	margin-left: 20px;
	justify-content: center;


}

.error {
	display: flex;
	font-family: -webkit-pictograph;
	justify-content: center;
	font-size: 1.1rem;
	padding-bottom: .3em;
	font-weight: bold;
	color: white;
}


.menu_Items .btn {
	position: relative;
	font-family: -webkit-pictograph;
	overflow: hidden;
	font-size: 1.3rem;
	font-weight: 700;
	padding: .19em 1.3em;
	padding-bottom: .40em;
	cursor: pointer;
	border: none;
	background: none;
	color:#778ca3;
	transition: 350ms ease-in-out;
	z-index: 1;

}

.menu_Items .btn:hover {
	color: white;
	box-shadow: 0px 5px 17px grey;
}

.menu_Items .btn::before {
	content: "";
	position: absolute;
	left: 0;
	bottom: -1px;
	width: 101%;
	background:#778ca3;
	height: 0%;
	z-index: -1;
	border-radius: 50% 50% 0 0;
	transition: 350ms ease-in-out;

}

.menu_Items .btn:hover::before {
	height: 250%;	
}

.top_Ele_Name { 
	align-self: center; 
	background: red; }

.simple_text {
	font-size: 2rem;
	font-weight: bold;
	color: white;
}
i {
	color: black;
}

.msg {
	width: 300px;
	margin: auto;
	
	height: 170px;
	display: flex;
	align-items: center;
	justify-content: center;
	background: linear-gradient(to right, #ffb347, #ffcc33);
	 box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.02),
    0 6.7px 5.3px rgba(0, 0, 0, 0.028), 0 12.5px 10px rgba(0, 0, 0, 0.035),
    0 22.3px 17.9px rgba(0, 0, 0, 0.042), 0 41.8px 33.4px rgba(0, 0, 0, 0.05),
    0 100px 80px rgba(0, 0, 0, 0.07);
  position: relative;
}
